$main-green: #68bc2b;
$light-green: #AFCFAF;
$dark-green: #568f56;
$light-magenta: #754775;
$dark-magenta: #442944;
$white: #ffffff;
$whitish: #ECEEF0;
$black: #000000;
$blackish: #0B120B;

$pink: #ee4799;
$dark-pink: #ea187f;
$yellow: #fffbb1;
$light-yellow: #fff533;
$grey: #f8f8f9;
$blue: #0066cc;
$light-blue: #e6f0fa;

$color__background-body: #fff;
$color__background-site: #f6f2f2;
$color__background-screen: #f1f1f1;
$color__background-hr: $main-green;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $dark-pink;
$color__link-visited: $dark-pink;
$color__link-hover: $dark-magenta;
$color__text-main: $blackish;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__link_pink: #ee4799;
$color__link_pink-hover: #a22060;
$color__link_blue: #0066cc;
$color__link_blue-hover: #0d4680;

$color__branding-background: $whitish;
$color__footer-background: $light-blue;
$color__background__menu: $blue;
$color__title_menu: $main-green;

$color__widget-background: $yellow;
$color__widget-title: $pink;
$color__widget-body: $black;
