@include susy-breakpoint(20em, 6) {
  .header-logo {
	@include full;
	img {
	  display: block;
	  margin: 0 auto;
	}
  }
  
  .site-branding {
    @include full;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  
}


@include susy-breakpoint(48em, 9) {
  .header-logo {
	@include span(4 of 9);
	img {
	  display: inline;
	  margin: 0;
	}
  }
  
  .site-branding {
    @include span(5 of 9 last);
    font-size: 1.5em;
    text-align: inherit;
    clear: none;
  }
  
}

@include susy-breakpoint(64em, 12) {
  .header-logo {
	@include span(4 of 12);
  }
  
  .site-branding {
    @include span(8 of 12 last);
    font-size: 2em;
  }
  
}

